[submodule "objectiveflickr"]
	path = objectiveflickr
	url = git@github.com:jsheets/objectiveflickr.git
[submodule "gh-unit"]
	path = gh-unit
	url = https://github.com/gabriel/gh-unit.git
[submodule "external/UISpec"]
	path = external/UISpec
	url = git@github.com:jsheets/UISpec.git
[submodule "external/OCMock"]
	path = external/OCMock
	url = git@github.com:jsheets/OCMock.git
[submodule "external/three20"]
	path = external/three20
	url = https://github.com/facebook/three20.git
[submodule "external/asi-http-request"]
	path = external/asi-http-request
	url = https://github.com/pokeb/asi-http-request.git
