[submodule "objectiveflickr"]
	path = objectiveflickr
	url = git@github.com:jsheets/objectiveflickr.git
[submodule "gh-unit"]
	path = gh-unit
	url = https://github.com/gabriel/gh-unit.git
[submodule "external/UISpec"]
	path = external/UISpec
	url = git@github.com:jsheets/UISpec.git
